.card-wrapper {
    padding: 20px;
    position: relative;
    /* Add position relative to create a stacking context */

    .pokemon-card {
        width: 300px;
        background: linear-gradient(180deg, #ffe96c, #FFE45C);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 15px 20px 10px 20px;
        text-align: center;
        border: 10px solid #EED10E;
        position: relative;
        /* Add position relative to create a stacking context */

        /* Grain texture overlay */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://img.freepik.com/free-photo/cardboard-texture_1194-5419.jpg');
            /* Replace 'grain.png' with the actual path to your grain texture image */
            opacity: 0.3;
            /* Adjust the opacity as needed */
            pointer-events: none;
            /* Make the overlay ignore pointer events */
        }
    }

    .image-wrapper {
        position: relative;

        .image {
            margin-bottom: 20px;
        }

        .image img {
            aspect-ratio: 3/2;
            width: 100%;
            border-radius: 8px;
            border: 6px solid #EED10E;
        }

        .image::after {
            content: "";
            position: absolute;
            top: 0;
            right: -5px;
            bottom: 0;
            width: 15px;
            background-color: rgba(29, 28, 28, 0.404);
            filter: blur(10px);
            border-radius: 8px 0 0 8px;
        }

        .composition-wrapper {
            position: absolute;
            bottom: -10px;
            width: 100%;
            padding: 0px;

            .composition {
                width: 80%;
                background: linear-gradient(90deg, #ffe369, #d7a81c59);
                margin: auto;
                font-weight: bold;
                position: relative;
                /* Add position relative to create a stacking context */
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 8px;
                    text-align: center;
                    margin: 0px 2px;
                }

                /* Slanted border */
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 20px;
                    background: linear-gradient(45deg, transparent, #000000);
                    transform: skewX(-45deg);
                    z-index: -1;
                }

                &::before {
                    left: -10px;
                }

                &::after {
                    right: -10px;
                }
            }
        }

    }


    .name-hp {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1px;
        position: relative;
    }

    .name-hp h2 {
        font-size: 24px;
        margin: 0;
    }

    .name-hp h2::before {
        content: attr(att-stage);
        font-size: 10px;
        font-weight: bold;
        color: #000000;
        display: block;
        text-align: left;
        position: absolute;
        top: -10px;
    }

    .hp {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: red;
        margin-right: 5px;
        /* Add margin to create space between HP and lightning energy */
    }

    .type {
        width: 18px;
        aspect-ratio: 1;
        display: inline;
        margin-left: 3px;
    }

    .attacks {
        margin-top: -10px;
        margin-bottom: 0px;
    }

    .attack {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
        padding: 5px 3px 0px 3px;
        text-align: left;
        border-bottom: 1px solid black;
        min-height: 50px;
    }

    .attack p {
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 0;


        .attack-name {
            font-weight: bolder;
        }
    }

    .attack .effect {
        font-size: 12px;
        /* Updated font size for the effect text */
        color: #1b1b1b;
        margin: 0;
        padding: 10px;
    }

    .attack .damage {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        text-align: right;
        margin: 0px;
    }

    .additional-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: 1;
            margin: 0 5px;

            h6 {
                font-size: 9px;
                margin-bottom: 1px;
                font-weight: bold;
                align-self: center;
                /* Align the headers to the center */
            }

            .image-group {
                display: flex;
                gap: 5px;
                align-items: center;
                /* Align the images to the center */
                justify-content: center;
                /* Align the images to the center */
            }

            img {
                width: 15px;
                aspect-ratio: 1;
            }
        }

        .section.resistance {
            flex-grow: 1;
        }
    }

    .pokedex-entry {
        border-style: groove;
        border-width: 3px;
        border-color: #eed00e73;
        padding: 1px 3px;
        margin-top: 4px;
        font-size: 8px;
        text-align: left;
        font-style: italic;

        span {
            font-weight: bold;
            margin-left: 5px;
        }
    }


    .rarity {
        position: absolute;
        bottom: 1px;
        right: 2px;
        display: flex;
        align-items: center;
        padding: 0px;


        span {
            font-size: 7px;
            font-weight: bold;
            margin-right: 5px;
            /* Add margin for spacing between span and image */
        }

        img {
            margin-left: 3px;
            width: 8px;
            aspect-ratio: 1;
        }
    }

}