$featureBoxBackgroundColor: #F5F5F5; // Light contrasting color
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@import "../landingpage/landingpage.scss";
@import "../linup/linup.scss";
@import "../card/card.scss";


* {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}